<!DOCTYPE html>
<html>
  <head>
    <title>sneakerhubkg</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    </style>
    <style>
   .scale {
    transition: 1s;
   }
   .scale:hover {
    transform: scale(1.1); 
    overflow: hidden;
   }

  </style>
  </head>
<body class="w3-content" style="max-width:1920px">


<div class="w3-main">

  <header class="w3-container">
    <h1 class="w3-jumbo w3-center">SNEAKERHUB</h1>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <div class="w3-display-container w3-container">
    <img src="https://cdn.runrepeat.com/storage/gallery/buying_guide_primary/66/66-best-sneakers-001-15275042-main.jpg" alt="Sneakers"  style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Footwear</h1>
      <h1 class="w3-hide-large w3-hide-medium">Footwear</h1>
      <p><a href="#sneakers" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="sneakers">
    <p>8 items</p>
  </div>

  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://www.highsnobiety.com/static-assets/dato/1722855915-maison-margiela_replica-sneaker-black_glossy-white_aw24_8058260468162-2.jpg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        <span class="w3-tag w3-display-topleft">New</span>
        <p>Maison Margiela<br><b>$540</b></p>
      </div>
      <div class="w3-container">
        <img src="https://www.highsnobiety.com/static-assets/dato/1734359186-26720.jpg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        <p>Acne Studios<br><b>$450</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://www.highsnobiety.com/static-assets/dato/1739464609-1201a438_402_sr_rt_glb_png_original-jpg.jpg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        </div>
        <p>ASICS GEL-SONOMA 15-51<br><b>$125</b></p>
      </div>
      <div class="w3-container">
        <img src="https://www.highsnobiety.com/static-assets/dato/1740481573-aurora_hj9351-001_phsrh000-2000.jpg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        <p>Nike T90 SP<br><b>$120</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://www.highsnobiety.com/static-assets/dato/1726740642-a11676c_a_107x1_white.jpg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        <p>Converse x Golf Le Fleur<br>
        <b>$130</b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://www.highsnobiety.com/static-assets/dato/1711724162-converse-weapon-ox-black-gray-multi-image-1.jpeg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        </div>
        <p>Converse x Patta<br><b>$145</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://www.highsnobiety.com/static-assets/dato/1708359400-salomon-xt-6-advanced-wings-white-lunar-rock-image-1.jpeg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        <p>Salomon XT-6 <br><b>$120</b></p>
      </div>
      <div class="w3-container">
        <img src="https://www.highsnobiety.com/static-assets/dato/1707124484-birkenstock-x-tekla-shearling-nagoya-straw-pale-yellow-image-1.jpeg?fp-x=0.5&fp-y=0.5&fit=crop&auto=compress%2Cformat&cs=srgb&ar=4%3A5&w=960" alt="" class="scale" style="width:100%">
        <p>Birkenstock x Tekla<br><b>$50</b></p>
      </div>
    </div>
  </div>
  
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <h4>Contact</h4>
        <p>Questions? Go ahead.</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
          <button type="submit" class="w3-button w3-block w3-black">Send</button>
        </form>
      </div>

      <div class="w3-col s4">
        <h4>About</h4>
        <p><a href="#">About us</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Shipment</a></p>
        <p><a href="#">Payment</a></p>
        <p><a href="#">Help</a></p>
      </div>

      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i> Bishkek, Kyrgyzstan</p>
        <p><i class="fa fa-fw fa-phone"></i> +996 505 99 77 22</p>
        <p><i class="fa fa-fw fa-envelope"></i> sneakerhubkg@gmail.com</p>
        <h4>We accept</h4>
        <p><i class="fa fa-fw fa-credit-card"></i> Mbank</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
        <br>
        <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
      </div>
    </div>
  </footer>


</body>
</html>
